<%= render 'partials/search_bar' %>

<div class="grid-content">

    <div class="grid-section section-1">
        
        <% if policy(@profile).update? %>
                <div class="flex-wrap-row">
                    <a href="<%= edit_profile_path %>"><div class='button btn-medium'>Edit Profile</div></a> 
                </div>
                <p></p>
        <% end %>
    
        <%= image_tag @profile.avatar_display(:small), class: 'round border maxmobile' %><br/>
    
        <h1><%= @profile.full_name %></h1>
        <h4><%= @profile.tagline %></h4>
    </div>

    <div class="grid-section section-2">
        <div class="card">
        <% if @profile.website %>
            <strong>Website:</strong> <%= link_to @profile.website %><br/>
        <% end %>
        <% if @profile.email_show %>
            <strong>Email:</strong> <%= mail_to @profile.user.email %>
        <% end %>
        </div>
    
        <p><%= @profile.bio %></p>
    </div>


    <div class="grid-section section-5">
        <div class="events-current">
            <h1><%= @profile.first_name %> is teaching:</h1>

            <% if @events_current %>
            <%= render 'partials/event_index', events: @events_current %>
            <% else %>
            They aren't teaching any workshops!
            <% end %>
        </div>
    
        <div class="events-past">
            <h1><%= @profile.first_name %> has taught:</h1>

            <% if @events_current %>
            <%= render 'partials/event_index', events: @events_past %>
            <% else %>
            They haven't taught any workshops!
            <% end %>
        </div>
    </div>

    <div class="grid-section section-3"></div>
    <div class="grid-section section-4"></div>


</div>