<%= form_with(model: event, local: true) do |form| %>

  <div class="half">

    <h2>Required information</h1>

    <div class="inputfield">
      <span class="errors"><%= display_errors(event, :title) %><br/></span>
      <%= form.label :title, "Event title" %><br/>
      <%= form.text_field :title, id: :event_title, placeholder: 'your event title goes here!', required: true %>
    </div>
  
    <div class="inputfield">
      <span class="errors"><%= display_errors(event, :price) %><br/></span>
      <%= form.label :price, "Event price (if any)" %><br/>
      <%= form.text_field :price, id: :event_price, placeholder: 'eg. 0 for "free"', required: true %>
    </div>
  
    <div class="inputfield">
      <span class="errors"><%= display_errors(event, :start_date) %><br/></span>
      <%= form.label :start_date, "Event date" %><br/>
      <%= form.text_field :start_date, id: :event_start_date, placeholder: 'eg. 01-01-2019', required: true %>
    </div>
  
    <div class="inputfield">
      <span class="errors"><%= display_errors(event, :start_time) %><br/></span>
      <%= form.label :start_time, "Event starting time" %><br/>
      <%= form.text_field :start_time, id: :event_start_time, placeholder: 'eg. 10:00 or 10 am', required: true %>
    </div>
  
    <div class="inputfield">
      <span class="errors"><%= display_errors(event, :duration) %><br/></span>
      <%= form.label :duration, "Event duration (hours)" %><br/>
      <%= form.text_field :duration, id: :event_duration, placeholder: 'eg. 1', required: true %>
    </div>
  
    <div class="inputfield">
      <span class="errors"><%= display_errors(event, :street) %><br/></span>
      <%= form.label :street, "Street address" %><br/>
      <%= form.text_field :street, id: :event_street, placeholder: 'eg. 120 Spencer Street', required: true %>
    </div>
  
    <div class="inputfield">
      <span class="errors"><%= display_errors(event, :suburb) %><br/></span>
      <%= form.label :suburb, "Suburb" %><br/>
      <%= form.text_field :suburb, id: :event_suburb, placeholder: 'eg. Melbourne', required: true %>
    </div>
  
    <div class="inputfield">
      <span class="errors"><%= display_errors(event, :state) %><br/></span>
      <%= form.label :state, "State" %><br/>
      <%= form.text_field :state, id: :event_state, placeholder: 'eg. Victoria', required: true %>
    </div>
  
    <div class="inputfield">
      <span class="errors"><%= display_errors(event, :country_code) %><br/></span>
      <%= form.label :country_code, "Country" %><br/>
      <%= form.text_field :country_code, id: :event_country_code, placeholder: 'eg. AU', required: true %>
    </div>

    <h2>Any more information?</h1>

    <div class="centered">
      <%= image_tag @event.image_display(:small), class: 'maxmobile' %><br/>
    </div>

    <div>
      <%= form.label :image_data, "Upload a custom image" %><br/>
      <%= form.hidden_field :image, value: event.cached_image_data %>
      <%= form.file_field  :image, id: :event_image_data, class:'file_field_hide' %>
      <label for='event_image_data'>Select a file</label>
    </div>

    <div class="inputfield">
      <span class="errors"><%= display_errors(event, :description) %><br/></span>
      <%= form.label :description, "Event description" %><br/>
      <%= form.text_field :description, id: :event_description, placeholder: 'a full desciption of your event goes here!' %>
    </div>
  
    <div class="inputfield">
      <span class="errors"><%= display_errors(event, :requirements) %><br/></span>
      <%= form.label :requirements, "Event requirements" %><br/>
      <%= form.text_area :requirements, id: :event_requirements, placeholder: 'does your event have any pre-requirements? do your attendees need to bring anything?' %>
    </div>

    <div class="inputfield">
      <span class="errors"><%= display_errors(event, :location_details) %><br/></span>
      <%= form.label :location_details, "Additional location details" %><br/>
      <%= form.text_field :location_details, id: :event_location_details, placeholder: 'eg. Please buzz Apartment 13' %>
    </div>
  
    <div>
      <%= form.submit %>
    </div>
  </div>
<% end %>