
    <div class="hero-header" id="event-hero">
        <%= image_tag @event.image_display(:large), class: 'hero-image' %><br/>
        <div class="hero-text"><herofont><%= @event.title %></herofont></div>
    </div>

<div class="half">
    <h1>(search box here)</h1>

    <% if policy(@event).update? %>
        <div>
            <a href="<%= edit_event_path %>"><div class='button btn-medium'>Edit Event</div></a> 
        </div>
        <p></p>
    <% end %>

    <h1>
        <%= @event.title %>
    </h1>

    <div class="section" id="event-details">
        <div class="card eventdetails">
            <strong>Price:</strong> <%= @event.price > 0 ? dollars(@event.price) : "Free!" %><br/>
            <strong>When:</strong> <%= @event.start_date %>, <%= @event.event_time %><br/>
            <strong>Where:</strong> <%= @event.street %><br/>
                                    <%= @event.suburb %> <%= @event.state %><br/>
            <strong>Taught by:</strong> <%= link_to @event.owner.profile.full_name, profile_path(@event.owner.profile) %><br/>
        </div>
        <a href="#"><div class='button btn-medium'>Book My Spot!</a></div>
    </div>
 
    <div class="section" id="event-description">
        <h1>
            What's it all about?
        </h1>

        <%= @event.description %>

        <h1>
            What do I need? to bring?
        </h1>

        <%= @event.requirements %>
    </div>

    <div class="section" id="event-wherewhen">
        <h1>
            Who's teaching this?
        </h1>
        <div class="card teacherdetails">
            <div class="cardleft">
                <%= image_tag @event.owner.profile.avatar_display(:thumb), class: 'round border maxmobile' %>
            </div>
            <div class="cardright">
                <h1>
                    <%= @event.owner.profile.full_name %>
                </h1>
                <strong><%= @event.owner.profile.tagline %></strong><br/>
                <%= "#{@event.owner.profile.suburb}, " if @event.owner.profile.suburb %><%= @event.owner.profile.country_code if @event.owner.profile.country_code %>
            </div>
        </div>
        <h1>Where do I go?</h1>
        <div class="card">
            <div class="map">
                <h1>
                    <%= static_map(@event.full_address) %>
                </h1>
            </div> 
            <div class="eventdetails">
            <strong>City:</strong> <%= @event.suburb %>, <%= @event.country_code %><br/>
            <strong>Address:</strong> <%= @event.street %><br/>
            <% if @event.location_details %>
                <strong>Details:</strong> <%= @event.location_details %><br/>
            <% end %>
            </div>
        </div>
    </div>

</div>

