<div class="hero-header" id="event-hero">
    <%= image_tag @event.image_display(:large), class: 'hero-image' %><br/>
    <div class="hero-text"><herofont><%= @event.title %></herofont></div>
</div>

<%= render 'partials/search_bar' %>

<div class="grid-content">

    <div class="grid-section section-1" id="event-details">

        <% if policy(@event).update? %>
            <div>
                <a href="<%= edit_event_path %>"><div class='button btn-medium'>Edit Event</div></a> 
            </div>
            <p></p>
        <% end %>

        <div class="card event details">
            <div class="card-left">
                <strong>Price:</strong> <br/>
                <strong>When:</strong> <br/>
                <strong>How long?</strong> <br/>
                <strong>Where:</strong> <br/>
                <br/>
                <strong>Taught by:</strong>
            </div>
            <div class="card-right">
                <%= @event.price > 0 ? dollars(@event.price) : "Free!" %><br/>
                <%= @event.event_time %><br/>
                <%= distance_of_time_in_words(@event.duration).gsub('about ','')  %><br/>
                <%= @event.street.titleize %><br/>
                <%= @event.suburb.titleize  %> <%= @event.state.titleize  %><br/>
                <%= link_to @event.owner.profile.full_name, profile_path(@event.owner.profile) %>
            </div>
        </div><br/>

        <%= attendance_button(@event) %>
    </div>
 
    <div class="grid-section section-2" id="event-description">
        <h1>
            What's it all about?
        </h1>

        <div class="text-section">
            <%= @event.description %>
        </div>

        <h1>
            What do I need? to bring?
        </h1>

        <div class="text-section">
            <%= @event.requirements %>
        </div>
    </div>

    <div class="grid-section section-3" id="event-whowhere">
        <h1>
            Who's teaching this?
        </h1>
        <div class="card teacher details">
            <div class="card-left">
                <%= link_to (image_tag @event.owner.profile.avatar_display(:thumb), class: 'round border maxmobile'), profile_path(@event.owner.profile) %>
            </div>
            <div class="card-right">
                <h2>
                    <%= link_to (@event.owner.profile.full_name), profile_path(@event.owner.profile) %>
                </h2>
                <strong><%= @event.owner.profile.tagline %></strong><br/>
                <%= "#{@event.owner.profile.suburb.titleize}, " if @event.owner.profile.suburb %><%= @event.owner.profile.country_code if @event.owner.profile.country_code %>
            </div>
        </div>

        <h1>
            Where do I go?
        </h1>
        <div class="card">
            <div class="map">
                <h1>
                    <%= static_map(@event.full_address) %>
                </h1>
            </div> 
            <div class="eventdetails">
            <strong>City:</strong> <%= @event.suburb.titleize %>, <%= @event.country_code %><br/>
            <strong>Address:</strong> <%= @event.street.titleize %><br/>
            <% if @event.location_details %>
                <strong>Details:</strong> <%= @event.location_details %><br/>
            <% end %>
            </div>
        </div>
    </div>

    <div class="grid-section section-4" id="attendance">
        <h1>
            Who's going?
        </h1>
        <h4><%= @event.users_attending.count %> / <%= @event.max_attendees %> spots</h4>
        <%= attendance_button(@event) %>
        <div class="card">
            <% if @event.users_attending %>
                <% @event.users_attending.each do |user| %>
                    <div class="attendee">
                        <%= link_to (image_tag user.profile.avatar_display(:small), class: 'round border'), profile_path(user.profile) %> 
                        <h2><%= link_to (user.profile.full_name), profile_path(user.profile) %></h2>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>

    <div class="grid-section section-5">
    </div>

</div>

