<h1>Donate To TakesAVillage</h1>

<%= form_with url: :payments do |form| %>
    <%= form.label :amount %>
    <%= form.text_field :amount %>
    <%= form.label :description %>
    <%= form.text_field :description %>
    <%= form.submit %>
<% end %>
