<h1>Reciept</h1>
<h4>Thankyou so much for your generous donation.</h4>

<%= "Payment successful!" if @payment.charge %><br/>
For: <%= @payment.user.profile.full_name %><br/>
Amount: $<%= @payment.amount / 100.00 %> <br/>
Description: <%= @payment.description %> <br/>

<%= button_to 'Back to it!', root_path, class: 'button btn-medium', method: :get %>