<h1>Make a Donation?</h1>

<p>
  At TakesAVillage believe in the power of community involvement and grassroots participation. As such, many of the workshops listed here are free of charge, for teachers and attendees. Keeping a site like this online has it's costs, and we'd really appreciate any donations you can afford to help us keep the site running. Thankyou!
</p> 

<%= form_with(model: @payment, local: true) do |form| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this @payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="inputfield">
    <%= form.label :amount, 'Amount (minimum $5.00)' %>
    <%= form.text_field :amount, id: :payment_amount, placeholder: 'eg. 5.00', value: '5.00' %>
  </div>

  <div class="inputfield">
    For: <br/>
    'One Time Donation'
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>