<%= form_with(model: @payment, local: true) do |form| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this @payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_field :amount, id: :payment_amount, placeholder: 'amount' %>
  </div>

  <div>
    <%= form.text_field :description, id: :payment_description, placeholder: 'description' %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>