<!DOCTYPE html>
<html>
  <head>
    <title>Takes A Village</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= link_to 'Profile', profile_path %> | <%= link_to 'Edit', profile_edit_path %>

    <%= yield %>
  </body>
</html>
